<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salary Estimator</title>
</head>
<body>
    <h1>Salary Estimator</h1>

    <form method="post" action="{{ url_for('predict') }}">
        Experience: <input type="text" name="experience" />
        Test Score: <input type="text" name="test_score"/>
        Interview Score: <input type="text" name="interview_score"/>
        <button type="submit">Predict</button>
    </form>

    <h1>Salary: {{ prediction_text }}</h1>
</body>
</html>